.navbar__component {
    width: 100vw;
    height: 60px;
    background-color: #131a22;
    display: flex;
}
.navbar__brand {
    display: flex;
}
.navbar__logo {
    background: url('https://ik.imagekit.io/orloaf/sprite_350x_zJEuIdAoT.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646459940060')
        repeat -9px -50px;
    width: 98px;
    height: 31px;
    margin: 18px;
}

.navbar__countryIN {
    color: white;
    position: relative;
    top: 22px;
    left: -18px;
}
.navabar__locator {
    display: flex;
    margin: 18px 0px;
}

.navbar__locatorImage {
    background: url('https://ik.imagekit.io/orloaf/sprite_350x_zJEuIdAoT.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646459940060')
        no-repeat -70px -378px;
    width: 16px;
    height: 18px;
    margin-top: 10px;
}
.navbar__useraddress {
    width: 150px;
    margin-left: 5px;
}
.navbar__deliverto {
    color: white;
    line-height: 14px;
}
.navbar__location {
    color: white;
}
.navbar__searchComponents {
    display: flex;
}

.navbar__dropdown {
    height: 44px;
    width: 60px;
    border-radius: 5px 0px 0px 5px;
    background-color: #e6e5e5;
    text-align-last: center;
    margin-top: 8px;
}

.navabar__dropdown option {
    color: black;
}

.navbar__textarea {
    width: 640px;
    height: 38px;
    margin-top: 8px;
}

.navbar__searchbox {
    margin-top: 8px;
    background-color: #febe68;
    border-radius: 0px 5px 5px 0px;
    width: 48px;
    height: 44px;
}

.navbar__searchicon {
    background: url('https://ik.imagekit.io/orloaf/sprite_350x_zJEuIdAoT.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646459940060')
        no-repeat -9px -289px;
    width: 23px;
    height: 23px;
    margin: 12px;
}

.navbar__country {
    width: 40px;
    height: 40px;
    margin-top: 14px;
    margin-left: 10px;
}
.navbar__flag {
    margin: 10px;
}

.navbar__signin {
    color: white;
    width: 120px;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar__returns {
    color: white;
    width: 80px;
    margin-top: 15px;
    margin-left: 10px;
}

.navbar__carts {
    color: white;
    width: 80px;
    display: flex;
    margin-top: 15px;
}

.navbar__cartimage {
    background: url('https://ik.imagekit.io/orloaf/sprite_350x_zJEuIdAoT.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646459940060')
        no-repeat -217px -336px;
    width: 43px;
    height: 30px;
}

.navbar__cartitems {
    font-weight: bold;
    font-size: 16px;
    color: #febe68;
    position: relative;
    top: -3px;
    left: -19px;
}

.navbar__carttext {
    margin-top: 13px;
}

.textsmall {
    font-size: 12px;
    font-weight: 400;
}

.textbold {
    font-size: 14px;
    font-weight: 700;
}
