.navbar__footer {
    display: inline-flex;
    width: 100vw;
    height: 40px;
    background-color: #22303e;
    line-height: 1.5em;
}

.navbar__footer_all {
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid transparent;
    display: flex;
    margin: 0px 6px;
}

.navbar__fimenu {
    height: 25px;
    width: 30px;
    margin-top: 5px;
}

.navbar__fimenu_text {
    margin-top: 5px;
}

.navbar__footer_all:hover {
    border: 2px solid white;
}

.navbar__footer_text {
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 10px;
    border: 2px solid transparent;
}

.navbar__footer_text:hover {
    border: 2px solid white;
}

.navbar_footer_offer {
    cursor: pointer;
}
